body {
  margin: 20px;
  color: #545454;
}

.text-content {
  /* align to the grid, 1 cell */
  margin-left: 40px;
}

.shot-form__input {
  text-transform: uppercase;
}

.shot-form__new-game {
  text-decoration: none;
  margin-left: 15px;
}

.legend {
  margin-top: 20px;
  display: flex;
}

.legend__cell {
  line-height: 40px;
  width: 80px; /* 2 cells */
  padding-left: 5px;
  box-sizing: border-box;
}

.legend .grid__cell {
  border: 0;
}

.game-over__message {
  display: none;
}

.game-over .game-over__message {
  display: block;
}

.game {
  display: flex;
  align-items: flex-end;
}

.grid__inner {
  border-spacing: 0;
}

.grid__row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.grid__cell, .grid__row-label, .grid__col-label {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  box-sizing: border-box;
}

.grid__row-label {
  border-right: 1px solid #ddd;
}

.grid__col-label:not(:first-child) {
  border-bottom: 1px solid #ddd;
}

.grid__cell {
  cursor: pointer;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
}

.grid__cell:hover {
  background-color: #bbb;
}

.grid__cell--hit, .grid__cell--miss {
  cursor: default;
}

.grid__cell--occupied {
  background-color: #008080;
  border: 0;
}

.grid__cell--hit {
  background-color: #e25822 !important;
  border: 0;
}

.grid__cell--miss {
  background-color: #d0d0d0;
}


.log {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 40px;
  font-size: 13px;
  color: #333;
  border: 1px solid #ccc;
  margin: 0 0 0 30px;
  padding: 10px;
  min-width: 180px;
  height: 400px; /* 11 cells */
}

.log__lines {
  overflow-y: auto;
  flex: 1;
  padding: 0 5px;
}
